@model NeredeNeYesem.Models.Siniflar.YemekMekanlari
@{
    ViewBag.Title = "YeniMekan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Mekan Ekleme </h2>
<br/>
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FotoUrl)
    @Html.TextBoxFor(x => x.FotoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,10,1, new { @class = "form-control"})
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br/>
    <button class="btn btn-primary">Mekan Ekle</button>  
</form>

